/* navbar hover */

.nav-hover ul:hover li a {
    transform: scale(0.95);
    opacity: 0.2;
    filter: blur(0.5px);
}

.nav-hover ul li a:hover {
    transform: scale(1);
    opacity: 1;
    filter: blur(0);
}