.navbar {
    background-color: rgba(0, 0, 0, 0.355);
}


.b-section-marquee-box {
    height: 180px;
    display: flex;
    align-items: center;
    overflow: hidden;
}


.b-section-marquee-box h2 {
    white-space: nowrap;
    text-transform: uppercase;
    color: #475747;
    font-size: 7em;
    font-weight: 100;
    flex-shrink: 0;
    padding: 0 10px;
    width: max-content;
    display: flex;
    align-items: center;
    transform: translateX(0);
    animation: b-text-scroll 5s linear infinite;
}

@keyframes b-text-scroll {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(-100%, 0, 0);
    }
}



.hide-scroll {

    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer and Edge */
}








