/* navbar hover */

.navbar-hover {
    opacity: 1;
    transform: 3s;
}

.navbar-hover:not(:hover) {
    opacity: 0.4;
}

ul:hover li a {
    transform: scale(0.95);
    opacity: 0.2;
    filter: blur(0.5px);
}

ul li a:hover {
    transform: scale(1);
    opacity: 1;
    filter: blur(0);
}