* {
    transition: all 300ms;
    -ms-overflow-style: none;
    scrollbar-width: none;

}

*::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #1a1a1a;
}

#cursor {
    position: fixed;
    top: -5px;
    left: -5px;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    pointer-events: none;
    z-index: 999;
}

#cursor-border {
    --size: 40px;
    position: fixed;
    top: calc(var(--size) / -2);
    left: calc(var(--size) / -2);
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    box-shadow: 0 0 0 1px white;
    pointer-events: none;
    transition: top 0.15s ease-out, left 0.15s ease-out, width 0.15s ease-out,
        height 0.15s ease-out, background-color 0.15s ease-out;
    z-index: 999;
}


.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    background-color: #00000080;
}

.typed-cursor {
    /*to make cursor color tranparent*/
    color: transparent;
}

.b-section-marquee-box {
    height: 180px;
    display: flex;
    align-items: center;
    overflow: hidden;
}


.b-section-marquee-box h2 {
    white-space: nowrap;
    text-transform: uppercase;
    color: #475747;
    font-size: 7em;
    font-weight: 100;
    flex-shrink: 0;
    padding: 0 10px;
    width: max-content;
    display: flex;
    align-items: center;
    transform: translateX(0);
    animation: b-text-scroll 5s linear infinite;
}

@keyframes b-text-scroll {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(-100%, 0, 0);
    }
}



.hide-scroll {
    scrollbar-width: none;
    -ms-overflow-style: none;
}






/* Remove spinner arrows from number input */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
    /* Firefox */
}

.sendbtn:hover {
    background-color: transparent;
    border: 1px solid rgb(30 58 138);
    color: rgb(30 58 138);
}

.projects h2 {
    height: 3rem;
}